<a href="https://colab.research.google.com/github/Arionnnn/Introduction-to-Computers/blob/main/0320_TA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 0
a += 1
print(a)

1

In [2]:
a = 1
a *= 3
print(a)

3

In [3]:
x,y = 10, 20
print(x,y)
x,y = y,x
print(x,y)

10 20
20 10

In [4]:
y = 10 == 5
print(y)
y = 10 != 10
print(y)

False
False

In [5]:
x = (10 > 8) and (20 > 10)
print(x)

True

In [6]:
x = (10 > 8) and (10 > 20)
print(x)
x = (10 < 8) and (10 < 20)
print(x)

False
False

In [7]:
x = (10 > 8) or (20 > 10)
print(x)
x = (10 < 8) or (10 > 20)
print(x)

True
False

In [8]:
x = not (10 < 8)
print(x)

True

In [9]:
x = not (10 > 8)
print(x)

False

In [11]:
import random
random.random()
print(random.randint(1,10))
print(random.random())
print(random.uniform(1.1,5.4))
print(random.choice("Hello"))
print(random.randrange(1,100,2))

2
0.7302662385798867
5.345246439446846
o
71

In [12]:
No = input("輸入您的學號:")
print(No)

輸入您的學號:411417032
411417032

In [13]:
Name = input("輸入您的姓名:")
print(Name)

輸入您的姓名:董兆恩
董兆恩

In [15]:
numbers = [1, 2, 3, 4, 5]
print(sum(numbers))

15

In [16]:
import random
No = input("輸入您的學號:")
print(No)
Name = input("輸入您的姓名:")
print(Name)
print(random.randint(5,100))

輸入您的學號:411417032
411417032
輸入您的姓名:董兆恩
董兆恩
64